.container-body {
    border-bottom: 1px solid #BDBDBD;
}

.container {
    width: 1170px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.flex__list {
    display: flex;
    gap: 30px;
}

.list {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.list__item {
    text-decoration: none;
    color: #3C3C3C
}

.list__item:hover {
    color: #18B5DC;
}

.button {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 20px;
    border: 1px solid #3C3C3C;
    background-color: white;
}

.button:hover {
    color: white;
    background-color: #18B5DC;
}

.main {
    background-color: #F6F6F6;
    height: 833px;
}

.main__introduce {
    text-align: center;
    width: 570px;
    margin: 0 auto;
}

.main__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    padding-top: 150px;
}

.main__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.divider {
    margin: 20px auto 40px;
    padding: 0;
    border-bottom: 4px solid #DDDBDB;
    width: 45px;
}

.main__person {
    margin-top:60px;
}

.main__list {
    display: flex;
    gap: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px
}

.main__note {
    margin-top: 20px;
}

.main__note_t {
    font-weight: 300;
    display: block;
}

.list__item_t {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
}

.social {
    width: 250px;
    gap: 10px;
}

.social__item {
    height: 42px;
    width: 42px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #18B5DC;
    align-items: center;
}

.social__img {
    margin-top: 10px;
}

.social__img_margin {
    margin-top: 13px;
}
